{% extends 'layout.html' %}
{% block content %}
        <section class="header">
            <h1>Owen Dillabough</h1>
            <p>Currently looking to obtain a remote job as a backend developer, or on a startup team as a junior dev working on innovative software!</p>
            <img src="\static\photos\climbing.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>About Me</h2>
            <p>
                I have worked a number of jobs in my life, I managed a distribution company and implemented new inventory management software as well as
                updated the financial side of the business as well, spent many years in construction and oil and gas working in remote sites in northern Alberta 
                and Saskatchewan and ran my own company doing rennovations and landscaping. Now after many years working physically I have decided that I want to 
                add a new challenge to my life and begin problem solving with code. It has always been on my list of to do's and I believe that my keen problem 
                solving mind will enjoy using code and technology to solve real world issues!
            </p>
            <p>
                I am currently learning python, and have done some HTML and CSS as well in the past. After this course is complete I am going to jump right into 
                Django, PostgreSQL, and then persue a remote job potentially in the back end web or software development area. While also continuing my learning 
                every single day. I am motivated, dedicated and in my line of work not solving the problem is never an option so I am looking forward to taking 
                this attitude forward with me into a new field where I can learn, grow, and expand my knowledge!
            </p>
            <a href="\static\files\JokeResume.pdf" download><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}
